header h1 {
  background: url(https://cloud.githubusercontent.com/assets/7530044/3139550/d0d590ea-e8e2-11e3-9de6-b1fc1cee7882.png);
  width: 295px;
  height: 230px;
  margin: 0 auto;
  text-indent: -9999px;
  display: block;
}
